# Homework Assignment 3 for Niko Darby

Write a Python notebook that generates a file containing the following data:

- Email addresses
- Phone numbers
- Home Address
- Person's name
- Year born. Use realistic values.
- Number of kids. Use realistic values.
- Categorical variable: rent or own?
- Annual income. Optional challenge: Use a non-uniform distribution
- Number of speeding tickets in past year. Optional challenge: Use a non-uniform distribution
    User of your notebook should be able to specify how many entities are to be generated.

Generate data in 2 of the following 3 formats: XML, CSV, or JSON. Your choice!

Order of columns in CSV is not relevant.

#### Cited Sources of Reference: 
- Information on Names Package Source: https://www.youtube.com/watch?v=E9bucW8Moco
- RandInt Source: https://www.youtube.com/watch?v=ZzoTFD-wzdY&list=LLTd4XRKPjtkygA9JkJ_qu5w&index=1
- Area Codes Source: https://www.areacodehelp.com/acus/us_area_codes.shtml
- Street Names Source: https://catalog.data.gov/dataset/street-names-37fec/resource/d655cc82-c98f-450a-b9bb-63521c870503
- Zip Codes Source: http://www.uszipcodelist.com/download.html
#### Do know that the codes written below are in reference to the sources above. Niko Darby is not the original creator of the sources above. The function below is a creation of Niko Darby with assistance procured from the sources above:

In [6]:
import pandas as pd
from random import randint
import numpy as np
import names


def ultra_informaticon():
        """The ultra informaticon function will provide you with a randomized personal profile. Simply initiate
        the function, type in the number of randomized results that you want, and then you will have a randomized
        person profile.

        NOTE: The number that you type in must be THE SAME for all categories."""
        def maily():
            data = pd.DataFrame()
            x = int(input("How many emails would you like?:"))
            data['Email'] = list(range(0,x))
            domain_universe = ['gmail.com', 'yahoo.com', 'aol.com']
            for i in range(0,x):
                    maily = names.get_first_name(),'.', names.get_last_name(), '@', domain_universe[randint(0, len(domain_universe)-1)]
                    data['Email'][i] = maily
            return data



        def areay():
            data = pd.DataFrame()
            x = int(input("How many phone numbers would you like?:"))
            data['Phone_Number'] = list(range(0,x))
            for i in range(0,x):
                    area_codes = [205, 251, 256, 334, 659, 938,907,480, 520, 602, 623, 928,479, 501, 870
                    ,209, 213, 279, 310, 323, 341, 408, 415, 424, 442, 510, 530, 559, 562, 619, 626, 628, 650, 657, 661, 669, 707, 714, 747, 760, 805, 818, 820, 831, 840, 858, 909, 916, 925, 949, 951,303, 719, 720, 970,203, 475, 860, 959
                    ,302,202,239, 305, 321, 352, 386, 407, 448, 561, 689, 727, 754, 772, 786, 813, 850, 863, 904, 941, 954
                    ,229, 404, 470, 478, 678, 706, 762, 770, 912,808,208, 986,217, 224, 309, 312, 331, 447, 618, 630, 708, 773, 779, 815, 847, 872,219, 260, 317, 463, 574, 765, 812, 930,319, 515, 563, 641, 712, 316, 620, 785, 913
                    ,270, 364, 502, 606, 859, 225, 318, 337, 504, 985,207,240, 301, 410, 443, 667,339, 351, 413, 508, 617, 774, 781, 857, 978
                    ,231, 248, 269, 313, 517, 586, 616, 734, 810, 906, 947, 989, 218, 320, 507, 612, 651, 763, 952
                    ,228, 601, 662, 769,314, 417, 573, 636, 660, 816,406,308, 402, 531, 702, 725, 775, 603
                    ,201, 551, 609, 640, 732, 848, 856, 862, 908, 973, 505, 575, 212, 315, 332, 347, 516, 518, 585, 607, 631, 646, 680, 716, 718, 838, 845, 914, 917, 929, 934
                    ,252, 336, 704, 743, 828, 910, 919, 980, 984,701,216, 220, 234, 326, 330, 380, 419, 440, 513, 567, 614, 740, 937, 405, 539, 580, 918, 458, 503, 541, 971,215, 223, 267, 272, 412, 445, 484, 570, 610, 717, 724, 814, 878, 787, 939, 401, 803, 839, 843, 854, 864, 605, 423, 615, 629, 731, 865, 901, 931, 210, 214, 254, 281, 325, 346, 361, 409, 430, 432, 469, 512, 682, 713, 726, 737, 806, 817,
                                  830, 832, 903, 915, 936, 940, 945, 956, 972, 979, 385, 435, 801,802,276, 
                                  434, 540, 571, 703, 757, 804,206, 253, 360, 425, 509, 564,202,304, 681,262,
                                  414, 534, 608, 715, 920,307,800, 833, 844, 855, 866, 877, 888]



                    areay = area_codes[randint(0, len(area_codes)-1)],'-', randint(100,1000), '-', randint(1000,10000)
                    data['Phone_Number'][i] = areay
            return data


        def addrey():
            data = pd.DataFrame()
            x = int(input("How many addresses would you like?:"))
            data['Address'] = list(range(0,x))
            for i in range(0,x):
                    coordinate_fox = ['northwest', 'southeast', 'southwest', 'northeast']
                    usa_street_names = pd.read_csv(r"street_names.csv")
                    usa_street_names = usa_street_names['FullStreetName'].dropna()
                    usa_zip_codes = pd.read_csv(r"zip_code_database.csv")
                    usa_zip_codes = usa_zip_codes['zip'].dropna()




                    addrey = randint(0,100000000), usa_street_names[randint(0, len(usa_street_names)-1)], coordinate_fox[randint(0, len(coordinate_fox)-1)], usa_zip_codes[randint(0, len(usa_zip_codes)-1)] 
                    data['Address'][i] = addrey
            return data

        def namey():
            data = pd.DataFrame()
            x = int(input("How many names would you like?:"))
            data['Name'] = list(range(0,x))
            for i in range(0,x):
                    namey = names.get_first_name(), names.get_last_name()
                    data['Name'][i] = namey
            return data




        def birthy():
            data = pd.DataFrame()
            x = int(input("How many birthdays would you like?:"))
            data['Birthday'] = list(range(0,x))
            for i in range(0,x):
                    birthy = randint(1,13),'/', randint(1,32), '/', randint(1899, 2021)
                    data['Birthday'][i] = birthy
            return data

        def offspring():
            data = pd.DataFrame()
            x = int(input("How many F1 offsprings would you like?:"))
            data['F1_Offspring'] = list(range(0,x))
            for i in range(0,x):
                    offspring = randint(0,50)
                    data['F1_Offspring'][0] = offspring
            return data


        def ownex():
            data = pd.DataFrame()
            illumina = ['Rent', 'Own']
            x = int(input("How many ownership labels would you like?:"))
            data['Ownership'] = list(range(0,x))
            for i in range(0,x):
                    ownex = illumina[randint(0,1)]
                    data['Ownership'][i] = ownex
            return data


        def incomex():
            data = pd.DataFrame()
            x = int(input("How many incomes would you like?:"))
            data['Annual_Income'] = list(range(0,x))

            for i in range(0,x):
                    incomex = "$", randint(100,10000000), '.', '00'
                    data['Annual_Income'][i] = incomex
            return data

        def speedy():
            data = pd.DataFrame()
            x = int(input("How many speeding tickets would you like?:"))
            data['Speeding_Ticket'] = list(range(0,x))
            for i in range(0,x):
                    speedy = 'You receive about', randint(0,500), 'speeding tickets per year'
                    data['Speeding_Ticket'][i] = speedy
            return data

        def salamander(): 
            salamander = speedy()
            salamander['Name'] = namey()
            salamander['Annual_Income'] = incomex()
            salamander['Ownership'] = ownex()
            salamander['F1_Offspring'] = offspring()
            salamander['Birthday'] = birthy()
            salamander['Address'] = addrey()
            salamander['Phone_Number'] = areay()
            salamander['Email'] = maily()
            salamander.to_csv(r'C:/Users/admin/Desktop/darby_homework.csv')
            return salamander 
        return salamander()

In [7]:
ultra_informaticon()

How many speeding tickets would you like?:10
How many names would you like?:10
How many incomes would you like?:10
How many ownership labels would you like?:10
How many F1 offsprings would you like?:10
How many birthdays would you like?:10
How many addresses would you like?:10
How many phone numbers would you like?:10
How many emails would you like?:10

,Speeding_Ticket,Name,Annual_Income,Ownership,F1_Offspring,Birthday,Address,Phone_Number,Email
0,"(You receive about, 55, speeding tickets per y...","(Patricia, Windom)","($, 294634, ., 00)",Own,35,"(4, /, 11, /, 1910)","(63902456, DORE ST, northwest, 33031)","(202, -, 281, -, 1010)","(Benjamin, ., Dye, @, aol.com)"
1,"(You receive about, 284, speeding tickets per ...","(Carolyn, Bartels)","($, 1219987, ., 00)",Rent,1,"(9, /, 8, /, 1956)","(88882229, NEWELL ST, southeast, 52577)","(361, -, 248, -, 5558)","(Connie, ., Herder, @, gmail.com)"
2,"(You receive about, 24, speeding tickets per y...","(James, Munoz)","($, 1001410, ., 00)",Rent,2,"(13, /, 27, /, 1913)","(32430007, PIZARRO WAY, northwest, 58458)","(443, -, 913, -, 9568)","(Joshua, ., Mcghee, @, yahoo.com)"
3,"(You receive about, 473, speeding tickets per ...","(Allen, Crenshaw)","($, 1572216, ., 00)",Own,3,"(2, /, 17, /, 1987)","(75331558, AMBROSE BIERCE ST, southeast, 21044)","(650, -, 562, -, 7773)","(Max, ., Stanhope, @, gmail.com)"
4,"(You receive about, 125, speeding tickets per ...","(Juan, Kriss)","($, 8377366, ., 00)",Rent,4,"(12, /, 22, /, 2008)","(23542632, FOREST SIDE AVE, northeast, 32952)","(234, -, 120, -, 3091)","(Della, ., Matthews, @, yahoo.com)"
5,"(You receive about, 56, speeding tickets per y...","(Robin, Melton)","($, 2095968, ., 00)",Own,5,"(4, /, 12, /, 1976)","(79746228, LELAND AVE, southeast, 89449)","(404, -, 469, -, 8568)","(Lillie, ., Petit, @, gmail.com)"
6,"(You receive about, 111, speeding tickets per ...","(William, Shelley)","($, 6279401, ., 00)",Rent,6,"(11, /, 21, /, 1972)","(55842064, FOREST RD, northwest, 67022)","(651, -, 568, -, 2195)","(Steven, ., Moten, @, yahoo.com)"
7,"(You receive about, 37, speeding tickets per y...","(Jonathan, Lentz)","($, 8029692, ., 00)",Own,7,"(4, /, 26, /, 2003)","(22195675, VISTA VIEW CT, northeast, 40447)","(619, -, 294, -, 8162)","(Evelyn, ., Cox, @, gmail.com)"
8,"(You receive about, 20, speeding tickets per y...","(Lee, Hoople)","($, 8288380, ., 00)",Rent,8,"(6, /, 24, /, 1948)","(44211776, GERKE ALY, northwest, 94662)","(205, -, 532, -, 6510)","(Lynette, ., Vega, @, gmail.com)"
9,"(You receive about, 494, speeding tickets per ...","(Hazel, Edwards)","($, 1973096, ., 00)",Rent,9,"(7, /, 2, /, 1954)","(52019989, CHABOT TER, northwest, 96774)","(508, -, 730, -, 9322)","(Royce, ., Mclaurin, @, aol.com)"